body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.container{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 2.5%;
    padding-bottom: 40px;
    box-shadow: 1px 4px 10px  gray; 
    border-radius: 10px;
    background-color: rgb(228, 227, 227);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
input{
    width: 250px;
    height:25px;
    border: none;
    border-radius: 4px;
}
label{
    line-height: 20px;
    margin-bottom: 2px;
}
#registerbtn{
    background-color: green;
    color:white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-left:80px;
}
#back{
margin-left: 10px;
margin-top: 10px;
width:40px;
height: 25px;
background-color: maroon;
border: none;
color:white;
border-radius: 4px;
}
.select{
    height: 20px;
    width: 50px;
}
input{
    height: 30px;
}
#tempMsg{
    text-align: center;
    font-weight: bold;
}