th{
    text-align: center;
}
td{
    text-align: center;
}
thead{
    background-color: gray;
}
.view-table{
    margin-left: 20px;
    margin-right: 20px;
}
h2{
    margin-top: 44vh;
    text-align: center;
}
#back{
    margin-left: 10px;
    margin-top: 10px;
    width:40px;
    height: 25px;
    background-color: maroon;
    border: none;
    color:white;
    border-radius: 4px;
    }
.number{
    text-align: center;
    margin-top: 10px;
}
#edit,#editMarks{
    background-color: green;
    border:none;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
}